* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: sans-serif;
  background-color: #efefef;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}
